{% extends "template.html" %}

{% block content %}
    <div class="col-md-6 col-md-offset-3">
        <h1>google's caPTCHA Demo</h1>

        {% if response.success %}
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Hello Human :)</h3>
                </div>
                <div class="panel-body">
                    <p> Your name is <b>{{name}}</b>, and your favorite color is <b>{{color}}</b>.</p>
                </div>
            </div>
        {% else %}
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Well, hello Robot! 01010010101010010100101010010</h3>
                </div>
                <div class="panel-body">
                    <p> Your name is <b>{{name}}</b>, and your favorite color is <b>{{color}}</b>. That's weird for a robot...</p>
                </div>
            </div>
        {% endif %}

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Google's verification response</h3>
            </div>
            <div class="panel-body">
                <p>{{ JSON.stringify(response) }}</p>
            </div>
        </div>

        <a href="/" class="btn btn-default">Back to home</a>
    </div>
{% endblock %}